.forms {
  margin: 1rem auto;
  width: 50%;
  display: none;
}

.close-button-wrap {
  text-align: right;
  background-color: none;
}

.submit-wrapper {
  margin: 1rem auto;
  text-align: center;
}

.tables {
  margin: 1rem auto;
  width: fit-content;
  display: none;
}
